.continue-button {
  margin-top: 5.83vh;
  margin-bottom: 3vh;
  background: #30B34B 0% 0% no-repeat padding-box;
  box-shadow: 1rem 1rem 4rem #30B34B;
  border-radius: 1.5rem;
  font: normal normal bold 3rem/3.7rem Montserrat;
  letter-spacing: 0;
  color: #FFFFFF;
  padding: 1.76vh 4.43vw;
  border: 0;
}

