.time-selector-container {
    //width: 40%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000005;
    padding: 30px;

    .content {
        .header {
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            color: #393939;
            font-weight: 600;
            margin: 0;
        }
    
        .time-slots {
            margin-top: 58px;
            display: grid;
            grid-template-columns: repeat(5, auto);
            gap: 18px 9px;
    
            .time-option {
                border: 2px solid #30B34B;
                border-radius: 25px;
                padding: 12px 12px;
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                cursor: pointer;
                font-size: 12px;
            }
    
            .unselected-time {
                color: #30B34B;
                background-color: white;
                font-weight: 400;
            }
    
            .selected-time {
                color: #FFFFFF;
                background-color: #30B34B;
                font-weight: 500;
            }
        }
    }    
}
