.date-selector-container {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 2rem;
    box-shadow: 0rem 0.4rem 0.4rem #00000005;
    padding: 0 2.77vw 1.56vh 2.77vw;
    font-family: 'Poppins', sans-serif;        

    .header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        .title {
            font-size: 2rem;
            color: #393939;
            font-weight: 600;
            margin: 0;
            margin-top: 2.77vh;
        }
        .month-section {
            font-size: 2rem;
            color: #393939;
            font-weight: 600;
            margin: 0;
            margin-top: 2.77vh;

            .month {
                margin: 0 0.83vw;
            }

            .month-navigator {
                cursor: pointer;
            }
        }
    }

    .calendar-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: repeat(2, auto);
    }

    .days {
        margin-top: 5.37vh;
        font-size: 1.6rem;
        font-weight: 400;
        text-align: center;
        color: #799283;
        letter-spacing: 0;
    }

    .dates {
        margin-top: 2.5vh;
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        color: #393939;
        letter-spacing: 0;

        .date {
            padding: 1.1vh 0;
            border-radius: 1.2rem;
        }

        .invalid-date {
            color: #D4D4D4;
        }

        .valid-date {
            cursor: pointer;
        }

        .selected-date {
            background-color: #30B34B;
            color: #FFFFFF;
        }
    }
}
